/* auth.css */

/* Stilizacija celokupne forme */
.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f7fc;
    padding: 20px;
  }
  
  .auth-form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  /* Stilizacija input polja */
  .auth-form input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
  }
  
  /* Stilizacija dugmeta za submit */
  .auth-form button {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .auth-form button:hover {
    background-color: #45a049;
  }
  
  /* Stilizacija poruka o grešci i uspehu */
  .error-message,
  .success-message {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
  }
  
  .error-message {
    color: red;
  }
  
  .success-message {
    color: green;
  }
  
  /* Stilizacija zaglavlja */
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .register-question{
    text-align: center;
  }

  .register-link:hover{
    color: darkblue;
    cursor: pointer;
  }
  