.edit-profile-container{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-image: linear-gradient(to bottom left, rgb(59, 0, 176), rgb(37, 1, 63));
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    font-family: SF Pro Display, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.edit-data-container {
    display:block;
 background-color: rgba(0,0,0,0.5);
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.9);
  width: 100%;
  max-width: 800px;
  min-height: 100vh;
  color: white;
}

.edit-form{
    display: block;
}


.edit-form input{
    border: 1px solid rgba(0,0,0,0.5);
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding: 10px;
    margin: 10px 10px;
    border-radius: 5px;
    font-size: 16px;
    font-family: SF Pro Display, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.edit-form .email-input{
    color: rgb(140, 140, 140);
}

.edit-form button{
    font-size: 16px;
    font-family: SF Pro Display, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 10px;
    margin-left: 5px;
}

label{
    margin-left: 10px;
   
}

.h1-edit{
    color: white;
}

.h2-edit{
    color: white;
    font-size: 24px;
}

table{
    border-collapse: separate;
  border-spacing: 50px 0;
}

.message{
    background-color: #333;
    color: white;
    padding: 10px;
    width: max-content;
    text-align: left;
    margin-left: 50px;
    border-radius: 5px;
}

.message {
    -moz-animation: cssAnimation 6s ease-in;
    /* Firefox */
    -webkit-animation: cssAnimation 6s ease-in;
    /* Safari and Chrome */
    -o-animation: cssAnimation 6s ease-in;
    /* Opera */
    animation: cssAnimation 6s ease-in;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes cssAnimation {
  0%   {opacity: 0;display:none;}
  /* 2 sec : start fading in*/
  20%   {opacity: 1;display:block;}
  /* 2.5 sec : visible */
  40%   {opacity: 1;display:block;}
  /* 4.5 sec : start fading out */
  70%   {opacity: 1;display:block;}
  /* 5 sec : not visible */
  80%   {opacity: 0;display:block;}
  /* 6 sec */
  100%   {opacity: 0;display:none;}
}
@-webkit-keyframes cssAnimation {
  0%   {opacity: 0;display:none;}
  /* 2 sec : start fading in*/
  20%   {opacity: 1;display:block;}
  /* 2.5 sec : visible */
  40%   {opacity: 1;display:block;}
  /* 4.5 sec : start fading out */
  70%   {opacity: 1;display:block;}
  /* 5 sec : not visible */
  80%   {opacity: 0;display:block;}
  /* 6 sec */
  100%   {opacity: 0;display:none;}
}

