.home-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url("../images/homeChart.jpeg");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
}

.stocks-container {
  background-color: rgba(0,0,0,0.5);
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.9);
  width: 100%;
  max-width: 800px;
  min-height: 100vh;
  color: white;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: white;
  }

  .h1-welcome{
    color: white;
  }

p {
    text-align: center;
    margin-bottom: 30px;
  }