/* General styles */
body {
    margin: 0;
    font-family: SF Pro Display, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    box-sizing: border-box;
  }
  
  /* Navbar styles */
  .navbar {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
    z-index: 1000;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
  }

  .navbar-logo-container {
    display: flex;
    font-size: 30px;
    font-weight: 1000;
    flex-wrap: wrap;
    align-items: center;
    max-width: 100%;
    
  }
  
  .navbar-name {
    margin-left: 10px;
    padding: 10px 0px;
  }

  .navbar-logo:hover{
    cursor: pointer;
  }

  .navbar-logo{
    margin-top: 10px;
  }

  .navbar-name:hover{
    cursor: pointer;
  }
  
  .navbar-links button {
    color: white;
    background-color: #333;
    border-bottom: 1px solid #555;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
    font-family: Sf Pro Display, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
    margin-top: 10px;
    font-size: 16px;
  }
  
  .navbar-links button:hover {
    background-color: #555;
    border-bottom: 1px solid #555;
  }
  
  /* Modal styles */
  .modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .navbar-links .btn-login{
    background-color: #5100f3;
    font-family: Sf Pro Display
  }

  .navbar-links .btn-login:hover{
    background-color: #7139ff;
  }

  .navbar-user-dropdown {
    position: relative; /* Neophodno za pozicioniranje menija */
    display: inline-block;
}



.dropdown-menu {
    position: absolute;
    top: 100%; /* Meni se prikazuje ispod korisničkog emaila */
    right: 0;
    background-color: #333;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 0.5rem 0;
    z-index: 100;
    width: 150px; /* Širina menija */
}

.dropdown-menu button {
    background: none;
    border: none;
    color: #fff;
    padding: 0.5rem 1rem;
    text-align: center;
    cursor: pointer;
    width: 90%;
    font-size: 14px;
}

.dropdown-menu button:hover {
    background-color: #444; /* Boja prilikom hover-a */
}

.dropdown-menu button {
    border-bottom: 1px solid #555; /* Razmak između opcija */
}

.dropdown-menu .btn-logout{
    background-color: rgb(168, 0, 39);
}

.dropdown-menu .btn-logout:hover{
  background-color: rgb(202, 11, 55);
}

.search-autocomplete-list {
  position: absolute;
  border: 1px solid rgba(0,0,0,0.5);
  background-color: #333;
  max-height: 200px;
  overflow-y: auto;
  width: 40%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  z-index: 1000;
  color: white;
  font-size: 16px;
  left: 50%;
  transform: translatex(-50%);
  margin-top: 25px;
}

.search-autocomplete-list li {
  padding: 10px;
  cursor: pointer;
}

.search-autocomplete-list li:hover {
  background-color: rgb(40, 40, 40);
}

.search-box{
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  margin-top: -20px;
  width: 40%;
  height: 30px;
  border: 1px solid rgba(0,0,0,0.5);
  background-color: rgba(0,0,0,0.5);
  color: white;
  border-radius: 5px;
  font-size: 16px;
  font-family: SF Pro Display, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 5px;
} 



@media screen and (max-width: 768px) {
  .navbar-container {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-links {
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
  }

  .navbar-links button {
    width: 100%;
    text-align: left;
  }

  .navbar-logo-container {
    margin-left: 0;
    justify-content: center;
    width: 100%;
  }

  .search-box {
    width: 90%;
  }
}

@media screen and (max-width: 480px) {
  .navbar {
    flex-direction: column;
    padding: 10px;
  }

  .navbar-logo-container {
    font-size: 20px;
    justify-content: center;
  }

  .navbar-links button {
    font-size: 14px;
    padding: 8px;
  }

  .search-autocomplete-list {
    font-size: 14px;
  }
}

