<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h2>Vaš Dashboard</h2>

        <!-- Link za odjavu -->
        <a href="{{ url_for('logout') }}">Izlogujte se</a>

        <!-- Dodajemo korisničke podatke -->
        <h3>Dobrodošli, {{ user['first_name'] }} {{ user['last_name'] }}</h3>
        <p>Email: {{ user['email'] }}</p>
        <p>Adresa: {{ user['address'] }}</p>
        <p>Grad: {{ user['city'] }}</p>
        <p>Država: {{ user['country'] }}</p>
        <p>Telefon: {{ user['phone_number'] }}</p>

        <a href="{{ url_for('add_transaction') }}">Dodaj novu transakciju</a>
        <table>
            <thead>
                <tr>
                    <th>Akcija</th>
                    <th>Ime Akcija</th>
                    <th>Količina</th>
                    <th>Cena po Jedinici</th>
                    <th>Datum</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in transactions %}
                    <tr>
                        <td>{{ transaction['action'] }}</td>
                        <td>{{ transaction['stock_name'] }}</td>
                        <td>{{ transaction['quantity'] }}</td>
                        <td>{{ transaction['price_per_unit'] }}</td>
                        <td>{{ transaction['transaction_date'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
